.multi-select {
    color: #000000 !important;
}
.select__input {
    color: #ffffff !important;
}
.select__placeholder {
    color: #999999 !important;
}

.select__control {
    background-color: #222222 !important;
    border-color: #222222 !important;
}
.select__multi-value {
    background-color: #cccccc !important;
}
.select__indicator {
    color: #cccccc;
}
.select__indicator:hover,
.select__control--is-focused .select__indicator:hover {
    color: #bbbbbb;
}

.select__menu, .select__menu-list {
    color: #cccccc !important;
    background-color: #222222 !important;
}
