:root {
  --primary-color: #3678e0;
  --primary-color-hover: #2657a7;
  --secondary-color: #d66a27;
  --secondary-color-hover: #a75523;
  --background-color: #333333;
  --color: #dddddd;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--color);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

section {
  margin: 0 auto 60px auto;
}

article {
  margin: 30px auto 0 auto;
}
article:first-of-type {
  margin-top: 0;
}

a {
  color: #4281e7;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
a:not(.button-link):hover,
a:not(.button-link):focus {
  filter: contrast(0.6);
}

h1 {
  text-align: center;
}

.primary {
  color: #0d4194;
}

.container {
  width: 90%;
  margin: 10px auto;
}

@media (min-width: 768px) {
  .container {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 70%;
  }
}

@media (min-width: 1324px) {
  .container {
    width: 60%;
  }
}
