:root {
  --primary-color: #3678e0;
  --primary-color-hover: #2657a7;
  --secondary-color: #e0801f;
  --secondary-color-hover: #d1781d;
  --ternary-color: #de4721;
  --ternary-color-hover: #ba4b2f;
  --background-color: #333333;
  --color: #dddddd;
  /* --background-color: #dddddd; */
  /* --color: #333333; */
  --light_blue: #4281e7;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--color);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

section {
  margin: 0 auto 60px auto;
}

article {
  margin: 30px auto 0 auto;
}
article:first-of-type {
  margin-top: 0;
}

a {
  color: var(--light_blue);
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
a:not(.button-link):hover,
a:not(.button-link):focus {
  filter: contrast(0.6);
}
a.link {
  display: inline-block;
  position: relative;
}
a.link:hover,
a.link:focus {
  color: var(--light_blue);
  filter: none;
}
a.link::before
{
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 1px;
	top: 95%;
	left: 0;
	background-color: var(--light_blue);
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: -webkit-transform 0.3s ease;
	transition: -webkit-transform 0.3s ease;
	-o-transition: transform 0.3s ease;
	transition: transform 0.3s ease;
	transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
a.link:hover::before,
a.link:focus::before
{
	-webkit-transform: scaleX(0.999);
	-ms-transform: scaleX(0.999);
	transform: scaleX(0.999);
}

h1 {
  text-align: center;
}

.container {
  width: 90%;
  margin: 10px auto;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .container {
    width: 80%;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 18px;
  }
  .container {
    width: 70%;
  }
}

@media (min-width: 1324px) {
  .container {
    width: 60%;
  }
}
