:root {
  --primary-color: #3678e0;
  --primary-color-hover: #2657a7;
  --secondary-color: #df8529;
  --secondary-color-hover: #d1781d;
  --ternary-color: #de4721;
  --ternary-color-hover: #ba4b2f;
  --ternary-bis-color: #28ad4b;
  --ternary-bis-color-hover: #188f37;

  --background-color: #ffffff;
  --background-color-darker: #e9e9e9;
  --color: #000000;
  --color-disabled: #222222;
  --light-blue: #2974ff;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--color);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

section {
  margin: 0 auto 60px auto;
}

article {
  margin: 30px auto 0 auto;
}
article:first-of-type {
  margin-top: 0;
}

a {
  color: var(--light-blue);
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
a:not(.button-link):hover,
a:not(.button-link):focus {
  filter: contrast(0.6);
}
a.link {
  border-bottom: 1px solid var(--light-blue);
}
a.link:hover,
a.link:focus {
  color: var(--light-blue);
  filter: none;
  border-bottom-width: 3px;
}

h1 {
  text-align: center;
}

ul li {
  margin: 0 0 10px 0;
}
ul li ul li {
  margin: 5px 0;
}

.container {
  width: 90%;
  margin: 10px auto;
}

.justify {
  text-align: justify;
}

.icon-size {
  width: 1em;
  height: auto;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .container {
    width: 80%;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 18px;
  }
  .container {
    width: 70%;
  }
}

@media (min-width: 1324px) {
  .container {
    width: 60%;
  }
}



.select__input {
  color: #ffffff !important;
}
.select__placeholder {
  color: #b8b8b8 !important;
}

.select__control {
  background-color: #444444 !important;
  border-color: #444444 !important;
}
.select__multi-value {
  background-color: #ffffff !important;
}
.select__indicator {
  color: #ffffff;
}
.select__indicator:hover,
.select__control--is-focused .select__indicator:hover {
  color: #bbbbbb;
}

.select__menu, .select__menu-list {
  color: #ffffff !important;
  background-color: #444444 !important;
}

